.Books {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}